.pink{ 
    color: rgb(255, 192, 203);
}

.blue{
    color:skyblue
}
html{
    font-size: 20px;
}

body{
    font-family: "Arial", "Meiryo ",sans-serif;
    text-align: center;
}


h1{
    google-fonts {
   font-family: "Noto Sans JP", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
    }
   letter-spacing: 1.2em;
   text-shadow: 2px 2px 4px gray;
   border-bottom: double 3px;
   border-bottom-color: rgb(115, 115, 114);
}

div p{
     font-weight: bold;
}
s