/* div {
  width: 800;
  padding: top 20px;
  padding: bottom 20px;

  background-color: #dcc9f4;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 20px;
  background-color: #ffd9df;
} */

#top {
  width: 800px;
  margin: 20px auto;
  text-align: center;
  background-color: #dcc9f4;
}
.top-child {
  width: 20%;
  display: inline-block;
  background-color: #ffd9df;
}

#middle {
  width: 800px;
  height: 800px;
  margin: 20px auto;
  background-color: #ffd9df;
  position: relative;
}
#middle div {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#middle-child01 {
  position: absolute;
  top: 100px;
  left: 100px;
}
#middle-child02 {
  position: absolute;
  top: 300px;
  left: 300px;
}
#middle-child03 {
  position: absolute;
  top: 500px;
  left: 500px;
}
#bottom {
  width: 800px;
  height: 300px;
  margin: auto;
  background-color: #87ceeb;
}
#bottom div {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child02 {
  position: relative;
  left: 200px;
}
#bottom-child03 {
  position: relative;
  left: 400px;
}
